# it would be dangerous to post the talos secrets on the internet
secrets.yaml

# the generated machineconfigs also contain secrets
controlplane.yaml
worker.yaml

# and so obviously does talosconfig
talosconfig

# it's nice to have the kubeconfig used for github available for testing, but it may never be committed
github-kubeconfig.yaml
