resources:
  - namespace.yaml
  - cluster-issuer.yaml
  - secret.enc.yaml

helmCharts:
  - name: cert-manager
    repo: https://charts.jetstack.io
    releaseName: cert-manager
    namespace: cert-manager
    version: v1.19.3
    skipTests: true
    valuesInline:
      crds:
        enabled: true
      # make sure leader-election happens in cert-manager namespace, not kube-system
      # the latter get's fouled by the kustomize namespace setting, see https://github.com/cert-manager/cert-manager/issues/6716
      global:
        leaderElection:
          namespace: cert-manager

      # make sure the propagation checks are done using an external nameserver, since the internal nameserver will not find the
      # challenge responses, as they are hosted on the external side of the split DNS
      dns01RecursiveNameservers: "8.8.8.8:53"
      dns01RecursiveNameserversOnly: true

      startupapicheck:
        enabled: false

namespace: cert-manager
