resources:
  - namespace.yaml
  - proxy-backuppc.yaml
  - proxy-imessage.yaml
  - proxy-jellyfin.yaml
  - proxy-pve.yaml

namespace: ingress-nginx

helmCharts:
  - name: ingress-nginx
    repo: https://kubernetes.github.io/ingress-nginx
    releaseName: external
    namespace: ingress-nginx
    version: 4.14.1
    skipTests: true
    valuesInline:
      controller:
        name: external
        replicaCount: 3
        minAvailable: 1
        resources:
          limits:
            cpu: 120m
            memory: 100Mi
          requests:
            cpu: 100m
            memory: 90Mi
        service:
          enabled: true
          externalTrafficPolicy: Local
          ipFamilyPolicy: PreferDualStack
        publishService:
          enabled: true
        metrics:
          enabled: true
        config:
          use-proxy-protocol: true
          use-forwarded-headers: false
          enable-real-ip: true
          forwarded-for-header: proxy_protocol
          annotations-risk-level: Critical
        allowSnippetAnnotations: true
        enableAnnotationValidations: true
        topologySpreadConstraints:
          - labelSelector:
              matchLabels:
                app.kubernetes.io/name: ingress-nginx
                app.kubernetes.io/instance: ingress-nginx
                app.kubernetes.io/component: controller
            topologyKey: topology.kubernetes.io/zone
            maxSkew: 1
            whenUnsatisfiable: ScheduleAnyway
            matchLabelKeys:
              - pod-template-hash
          - labelSelector:
              matchLabels:
                app.kubernetes.io/name: ingress-nginx
                app.kubernetes.io/instance: ingress-nginx
                app.kubernetes.io/component: controller
            topologyKey: kubernetes.io/hostname
            maxSkew: 1
            whenUnsatisfiable: ScheduleAnyway
            matchLabelKeys:
              - pod-template-hash
        ingressClassResource:
          name: external
        extraArgs:
          enable-ssl-passthrough: ""

        # hopefully this means that the container no longer gets OOM killed when uploading big files
        extraVolumeMounts:
          - name: client-bodies
            mountPath: /tmp/nginx/client-bodies
        extraVolumes:
          - name: client-bodies
            emptyDir: {}
#  - name: ingress-nginx
#    repo: https://kubernetes.github.io/ingress-nginx
#    releaseName: internal
#    namespace: ingress-nginx
#    version: 4.11.3
#    skipTests: true
#    valuesInline:
#      controller:
#        name: internal
#        replicaCount: 1
#        minAvailable: 1
#        resources:
#          limits:
#            cpu: 120m
#            memory: 100Mi
#          requests:
#            cpu: 100m
#            memory: 90Mi
#        service:
#          enabled: true
#          externalTrafficPolicy: Local
#          ipFamilyPolicy: PreferDualStack
#        publishService:
#          enabled: true
#        metrics:
#          enabled: true
#        config:
#          use-forwarded-headers: "true"
#        enableAnnotationValidations: true
#        topologySpreadConstraints:
#          - labelSelector:
#              matchLabels:
#                app.kubernetes.io/name: ingress-nginx
#                app.kubernetes.io/instance: ingress-nginx
#                app.kubernetes.io/component: controller
#            topologyKey: topology.kubernetes.io/zone
#            maxSkew: 1
#            whenUnsatisfiable: ScheduleAnyway
#            matchLabelKeys:
#              - pod-template-hash
#          - labelSelector:
#              matchLabels:
#                app.kubernetes.io/name: ingress-nginx
#                app.kubernetes.io/instance: ingress-nginx
#                app.kubernetes.io/component: controller
#            topologyKey: kubernetes.io/hostname
#            maxSkew: 1
#            whenUnsatisfiable: ScheduleAnyway
#            matchLabelKeys:
#              - pod-template-hash
#            matchLabelKeys:
#              - pod-template-hash
#        ingressClassResource:
#          name: internal
